<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="margin: 0 auto;">
      <%= image_tag attachments['welcome-email-image.jpg'].url %>
    </div>
  </body>
</html>